.col-sm-4.col-sm-offset-4.custom-background
  %h2= t(:settings)
  %hr
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    - if @user.errors.present?
      %ul{:class => "alert alert-danger"}
        - @user.errors.messages.each do |key, value|
          %li{style: 'margin-left: 5px;'}= "#{key.to_s} #{value.join(',')}"

    -# General Info
    .input-group
      %span.input-group-addon
        = icon('fas', 'user')
      = f.input :username, label: false, class: 'form-control', :placeholder => t(:pick_user_name)
    %br
    .form-group
      = f.select :gender, options_for_select(genders, f.object.gender), { include_blank: t(:select_gender) }, class: 'form-control'

    .form-group
      = f.country_select :country_code, priority_countries = ['JO', 'Palestine', 'Egypt', 'Syria', 'Lebanon', 'SA', 'United Arab Emirates', 'Qatar', 'Oman', 'Iraq'], { prompt: t(:select_country) }, class:'form-control', required: true

    .input-group
      %span.input-group-addon
        = icon('fas', 'mobile-alt')
      = f.input :phone_number, label: false, class: 'form-control', required: true, :placeholder => t(:phonenumber)

    -# Password Changes
    %hr
    = f.label t(:leave_blank), class: 'leave-blank'
    .input-group
      %span.input-group-addon
        = icon('fas', 'lock')
      = f.input :password, label: false, required: false, class: 'form-control', :placeholder => t(:create_password)
    %br
    .input-group
      %span.input-group-addon
        = icon('fas', 'lock')
      = f.input :password_confirmation, label: false, required: false, class: 'form-control', :placeholder => t(:password_confirmation)
    %hr

    -# Current Password To Confirm Changes
    .input-group
      %span.input-group-addon
        = icon('fas', 'lock')
      = f.input :current_password, label: false, required: true, class: 'form-control', :placeholder => t(:current_password_required)
    %hr
    .input-group
      = f.button :submit, t(:save), class: 'btn btn-danger'
