.col-sm-4.col-sm-offset-4.custom-background
  %h2= t(:join_us)
  %hr
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = f.error_notification

    .input-group
      %span.input-group-addon
        = icon('fas', 'user')
      = f.input :email, label: false, required: true, class: 'form-control', :placeholder => t(:your_email), :type => "text"

    %br
    .input-group
      %span.input-group-addon
        = icon('fas', 'lock')
      = f.input :password, label: false, required: true, class: 'form-control', :placeholder => t(:create_password), :type => "text"

    %br
    .input-actions
      = f.button :submit, t(:join_us)
  %hr
  = render "devise/shared/links"
