.col-md-4.col-md-offset-4.devise
  %h2= t(:forgot_your_password)
  %hr
  = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    .input-group
      %span.input-group-addon
        = icon('fas', 'user')
      = f.input :email, label: false, required: true, class: 'form-control', :placeholder => t(:your_email), :type => "text"

    %br
    .input-actions
      = f.button :submit, t(:send)
  %hr
  = render "devise/shared/links"
