.col-sm-4.col-sm-offset-4.custom-background
  %h2= t(:sign_in)
  %hr
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .input-group
      %span.input-group-addon
        = icon('fas', 'user')
      = f.input :email, label: false, required: true, class: 'form-control', :placeholder => t(:your_email), :type => "text"

    %br
    .input-group
      %span.input-group-addon
        = icon('fas', 'lock')
      = f.input :password, label: false, required: true, class: 'form-control', :placeholder => t(:password), :type => "text"

    %br
    .input-group
      = f.input :remember_me, class: 'form-control', as: :boolean if devise_mapping.rememberable?

    %br
    .input-actions
      = f.button :submit, t(:sign_in)
  %hr
  = render "devise/shared/links"
