%table.table.table-bordered.table-hover
  %thead
    %tr.custom-head
      %th= t(:title)
      %th.text-center= t(:category)
      %th.text-center= t(:status)
      %th.text-center= t(:creation_date)
      %th.text-center= t(:options)
  %tbody
  - @posts.each do |post|
    %tr
      %td
        = link_to post.title, post
      %td.text-center
        = post.category.name
      %td.text-center
        %span{class: "label label-#{status_label(POST_STATUS.key(post.status))}"}
          = POST_STATUS.key(post.status).capitalize
      %td
        .text-center
          = convert_date_format(post.created_at)
      %td
        = render partial: 'post_options', locals: { post: post }
