.container-fluid
  .custom-background
    .row
      .pull-left
        %h2= t(:manage_posts)
        %p= "#{t(:shared)} #{@posts.count} #{t(:posts).downcase}"
      .pull-right
        %h2
        = link_to new_post_path, class: 'btn btn-info btn-sm custom-button' do
          = icon('far','plus-square', t(:add))
    %hr
    .row
      - if @posts.present?
        = render partial: 'posts_list'
      - else
        .text-center
          = t(:no_data)
