- @category_posts.each do |post|
  .container
    .row
      %h4
        = link_to '#' do
          = post.title
          %small= post.description.truncate(350, omission: " ... #{t(:continue_reading)}")
    .row
      %small.category-posts
        = icon('fas', 'user', ownername(post))
      %small.category-posts
        = icon('fas', 'clock', convert_date_format(post.created_at))
  %hr
