- content_for :javascript_includes do
  = javascript_include_tag 'categories'

.col-md-6.col-md-offset-3.custom-background
  %h2{ 'data-typer': 'hello' }= @category.persisted? ? t(:modify) + @category.name : t(:create_category)
  %hr
  = simple_form_for(@category) do |f|
    = f.error_notification

    .form-inputs#category-name
      .col-sm-12
        = f.input :name, required: true, label: false, placeholder: t(:category_name), autofocus: true, class: 'form-control'

    .form-inputs#category-status
      .col-sm-12
        = f.select :status, options_for_select(statuses, (@category.status if @category.persisted?)), { include_blank: t(:please_select_status) }, class: 'form-control'

    .form-inputs#submit-category
      .col-sm-12
        %br
        = f.button :submit, t(:submit), class: 'form-control btn btn-danger'
