.container-fluid
  .custom-background
    .row
      .pull-left
        %h2= t(:categories)
        %p= t(:listing_all_categories)
      .pull-right
        %h2
        = link_to new_category_path, class: 'btn btn-info btn-sm custom-button' do
          = icon('far','plus-square', t(:add))
    %hr
    .row
      - if @categories.present?
        = render partial: 'categories_list'
      - else
        .text-center
          = t(:no_data)
