.container
  .row
    #channel
      .col-md-8
        .devise
          %h3
            = @category.name
            %small= t(:category)
          %hr
          = render partial: 'category_posts_list'

      .col-md-4
        .posts.devise
          %h4.related= t(:most_recent)
          %hr
          = render partial: 'recent_posts'
