%nav.navbar.navbar-default.navbar-fixed-top.custom-navbar
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Blog'n Post", root_path, class: 'navbar-brand logo'
    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.dropdown
          = link_to '#', class: 'dropdown-toggle', "aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :role => "button"  do
            = icon('fas', 'briefcase', t(:categories))

          %ul.dropdown-menu
            = render partial: 'layouts/navbar/categories'

      %ul.nav.navbar-nav.navbar-right
        = render partial: 'layouts/navbar/user_menu'
